<style>
        /* Estilos para el fondo de imagen */
        body {
            background-image: url(https://imgsrv.crunchyroll.com/cdn-cgi/image/format=auto,fit=contain,width=1200,height=675,quality=85/catalog/crunchyroll/36bdc5ea4443cd8e42f22ec7d3884cbb.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Estilos para los botones */
        .navbar-nav {
            display: flex;
            gap: 10px;
        }

        .nav-item {
            list-style: none;
        }
        .nav-link:hover {
            background-color: #f2f2f2; /* Cambia el color de fondo al pasar el mouse */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {{#if userData}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/session/logout">Logout</a>
                    </li>
                    {{/if}}
                    {{#unless userData}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/session">Login</a>
                    </li>
                    {{/unless}}
                    {{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/users/">Users</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/session/current">Perfil de usuario</a>
                    </li>
                    {{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/products/ViewAddProduct">Add Product</a>
                    </li>
                    {{/if}}
                    {{#if isPremium}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/products/ViewAddProduct">Add Product</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/products/getProduct">List Product</a>
                    </li>
                    {{#unless admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/carts/getCart">Cart</a>
                    </li>
                    {{/unless}}
                    {{#unless admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/chats">Chat</a>
                    </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </nav>
</body>
